# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/ Required by terraform repo for legacy reasons

# others
/bin
/pkg
/test/aabbcc.sh
/test/ccddee.sh
/test/aabbcc-fosfmg.sh
/test/ddeeff.sh
/test/example_testacc.sh
/dist

*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
.vscode
*.iml
*.test
*.iml
log.txt

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
